{% extends "layouts/layout_products.html" %}
{%block content %}


	<div id="fh5co-about" class="fh5co-section">
		<div class = "simple_center_marge_div">
			<p><a href="{{ url_for('products.addprod') }}" class="btn btn-primary btn-outline">Ajouter un produit</a></p>
		</div>
	</div>
	<div id="fh5co-featured-menu" style ="padding-top:0px" class="fh5co-section">
		<div class="container">
			<div class="row">
			{% for prod in produits%}
						<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-wrap animate-box">
							<div class="fh5co-item">
								<img src="static/images/products/{{prod.image_file}}" class="img-responsive">
								<h3>{{prod.name}}</h3>
								<span class="fh5co-price">{{prod.price_sell}} </span>
								<p>{{prod.description}}  (id = {{prod.id}})</p>
								<p><a href="{{ url_for('products.delete_post', prod_id = prod.id) }}" class="btn btn-primary btn-outline">Effacer</a></p>
								<p><a href="{{ url_for('products.update_post', prod_id = prod.id) }}" class="btn btn-primary btn-outline">Modifier</a></p>
							</div>
						</div>
		    {%endfor%}
				</div>
			</div>
		</div>


{% endblock content %}
