{% extends "mainweb/layout.html" %}
{%block content %}

	<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner" style="background-image: url(static/images/cafecowork.png);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="display-t js-fullheight">
						<div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
							<h1> Le petit café </h1>
								<h1> qui vous emmène loin </h1>
							<h2>Boire, grignoter, travailler, apprendre, jouer ... </h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-about" class="fh5co-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-pull-4 img-wrap animate-box" data-animate-effect="fadeInLeft">
					<img src="{{ url_for('static', filename= 'images/horaires.jpeg') }}" alt="Free Restaurant Bootstrap Website Template by FreeHTML5.co">
				</div>
				<div class="col-md-5 col-md-push-1 animate-box">
					<div class="section-heading">
						<h2>C'est quoi Le Skiff ??? </h2>
						<p>Le Skiff est un petit café ou il s'y passe beaucoup de choses. On peut venir boire , manger, jouer et travailler. L'équipe vous acceuille toute la semaine sauf le mardi.
						beaucoup de produits et boissons locales sont disponibles, de la cuisine simple et maison, des jeux de société et la fibre pour travailler sereinement.  </p>
						<p>Il ne manque plus que vous !</p>
						<p><a href="{{ url_for('main.about') }}" class="btn btn-primary btn-outline">Des photos !</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-slider" class="fh5co-section animate-box">
		<div class="container">
			<div class="row">
				<div class="col-md-6 animate-box">
					<div class="fh5co-heading">
						<h2>Y'a quoi au Skiff ?</h2>
						<p>Coworking, nourriture, boisson, jeux etc ...</p>
					</div>
				</div>
				<div class="col-md-6 col-md-push-1 ">
					<aside id="fh5co-slider-wrwap">
					<div class="flexslider">
						<ul class="slides">
							<li style="background-image: url(static/images/tartepomme.jpg);">
								<div class="overlay-gradient"></div>
								<div class="container-fluid">
									<div class="row">
										<div class="col-md-12 col-md-offset-0 col-md-pull-10 slider-text slider-text-bg">
											<div class="slider-text-inner">
												<div class="desc">
													<h2>Tarte <em>aux</em> pommes</h2>
													<p>Une pate sablée maison de la compote et des pommes, simple efficace ça déchire !</p>

												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li style="background-image: url(static/images/croque.jpg);">
								<div class="overlay-gradient"></div>
								<div class="container-fluid">
									<div class="row">
										<div class="col-md-12 col-md-offset-0 col-md-pull-10 slider-text slider-text-bg">
											<div class="slider-text-inner">
												<div class="desc">
													<h2>A grignoter le midi</h2>
													<p>Des croques / salades /soupes ... fait maison ! Et des tables pour l'apéro !</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li style="background-image: url(static/images/arriere.jpg);">
								<div class="overlay-gradient"></div>
								<div class="container-fluid">
									<div class="row">
										<div class="col-md-12 col-md-offset-0 col-md-pull-10 slider-text slider-text-bg">
											<div class="slider-text-inner">
												<div class="desc">
													<h2>Un <em>espace</em> au calme pour travailler</h2>
													<p>L'arrière café est idéal pour les gens souhaitant Co-Worker</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li style="background-image: url(static/images/jeux.png);">
								<div class="overlay-gradient"></div>
								<div class="container-fluid">
									<div class="row">
										<div class="col-md-12 col-md-offset-0 col-md-pull-10 slider-text slider-text-bg">
											<div class="slider-text-inner">
												<div class="desc">
													<h2>Des <em>jeux</em> de société</h2>
													<p>Une selection de jeux à emprunter, certains sont gratuit mais les plus beaux devront être loués !</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
							</ul>
						</div>
				</aside>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-blog" class="fh5co-section">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<h2>Evenements</h2>
					<p></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="fh5co-blog animate-box">
						<a href="#" class="blog-bg" style="background-image: url(static/images/jeux.jpg);"></a>
						<div class="blog-text">
							<p>Mercredi et dimanche<p>
							<h3><a href="#">Soirée Jeux</a></h3>
							<p>Venez profiter des jeux ou ramener les votres !</p>
							<ul class="stuff">
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="fh5co-blog animate-box">
						<a href="#" class="blog-bg" style="background-image: url(static/images/afterwork.jpg);"></a>
						<div class="blog-text">
							<p>17H30-20H30<p>
							<h3><a href="#">After work</a></h3>
							<p>Venez vous détentre autour d'un verre et d'une table avec les amis. Prendre l'apéro tout simplement !</p>

						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="fh5co-blog animate-box">
						<a href="#" class="blog-bg" style="background-image: url(static/images/dej.jpg);"></a>
						<div class="blog-text">
							<p>Dimanche & Lundi matin</p>
							<h3><a href="#">Pti Dej</a></h3>
							<p>Envie de croissant, pain au chocolat ou autre viennoiserie arrosé par du café ? ou même des oeufs brouillé du bacon et des tomates mozza ? Venez au Pti Dej.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!--
	<div id="fh5co-featured-menu" class="fh5co-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 fh5co-heading animate-box">
					<h2>Les cours (A partir de Janvier 2021)</h2>
					<div class="row">
						<div class="col-md-6">
							<p>Nous proposons différent type de cours: Individuel, en groupe (hebdomadaire) et même des formations professionnalisantes. Consulter la rubrique 'les cours' pour plus de détails .</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
-->




	<div id="fh5co-started" class="fh5co-section animate-box" style="background-image: url(static/images/horaires.jpeg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Co-Worker au Skiff</h2>
					<p>Au Skiff on peut se poser pour travailler aucun soucis.
						Il y a même une pièce au calme pour ça !
						Si vous souhaitez venir régulièrement et ne pas avoir à consommer nous proposons deux forfait:</p>

					<div id="fh5co-featured-menu" style ="padding-top:0px" class="fh5co-section">
						<div class="container">
							<div class="row">
										<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-wrap animate-box">
											<div class="fh5co-item">
												<h3>A la journée</h3>
												<span class="fh5co-price">12 € </span>
												<p>De l'ouverture à la fermeture</p>
											</div>
										</div>

										<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-wrap animate-box">
											<div class="fh5co-item">
												<h3>A la semaine</h3>
												<span class="fh5co-price">40 €</span>
												<p>Une semaine illimitée </p>
											</div>
										</div>
										<!--
										<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-wrap animate-box">
											<div class="fh5co-item">
												<h3>A l'année</h3>
												<span class="fh5co-price">840 € </span>
												<p>Accès tout l'année </p>
											</div>
										</div>
										-->

								</div>
							</div>
						</div>




					<p><a href="reservation.html" class="btn btn-primary btn-outline">Contactez nous</a></p>
				</div>
			</div>
		</div>
	</div>
<!--
	<div id="fh5co-featured-testimony" class="fh5co-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 fh5co-heading animate-box">
					<h2>Témoignage</h2>
					<div class="row">
						<div class="col-md-6">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ab debitis sit itaque totam, a maiores nihil, nulla magnam porro minima officiis! Doloribus aliquam voluptates corporis et tempora consequuntur ipsam, itaque, nesciunt similique commodi omnis.</p>
						</div>
					</div>
				</div>

				<div class="col-md-5 animate-box img-to-responsive animate-box" data-animate-effect="fadeInLeft">
						<img src="{{ url_for('static', filename= 'images/person_1.jpg') }}" alt="">
				</div>
				<div class="col-md-7 animate-box" data-animate-effect="fadeInRight">
					<blockquote>
						<p> &ldquo; Quantum ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ab debitis sit itaque totam, a maiores nihil, nulla magnam porro minima officiis! Doloribus aliquam voluptates corporis et tempora consequuntur ipsam. &rdquo;</p>
						<p class="author"><cite>&mdash; Jane Smith</cite></p>
					</blockquote>
				</div>
			</div>
		</div>
	</div>
-->
{% endblock content %}
