{% extends "mainweb/layout.html" %}
{%block content %}

	<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner" style="background-image: url(static/images/cafecowork.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="display-t js-fullheight">
						<div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
							<h1>Le petit café qui vous emmène loin </h1>
							<h2>Boire, grignoter, travailler, apprendre, jouer ... </h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-about" class="fh5co-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-pull-4 img-wrap animate-box" data-animate-effect="fadeInLeft">
					<img src="{{ url_for('static', filename= 'images/hero_1.jpeg') }}" alt="Free Restaurant Bootstrap Website Template by FreeHTML5.co">
				</div>
				<div class="col-md-5 col-md-push-1 animate-box">
					<div class="section-heading">
						<h2>C'est quoi Le Skiff</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae neque quisquam at deserunt ab praesentium architecto tempore saepe animi voluptatem molestias, eveniet aut laudantium alias, laboriosam excepturi, et numquam? Atque tempore iure tenetur perspiciatis, aliquam, asperiores aut odio accusamus, unde libero dignissimos quod aliquid neque et illo vero nesciunt. Sunt!</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam iure reprehenderit nihil nobis laboriosam beatae assumenda tempore, magni ducimus abentey.</p>
						<p><a href="{{ url_for('main.about') }}" class="btn btn-primary btn-outline">Notre histoire</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-slider" class="fh5co-section animate-box">
		<div class="container">
			<div class="row">
				<div class="col-md-6 animate-box">
					<div class="fh5co-heading">
						<h2>Les supers produits du Skiff </h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ab debitis sit itaque totam, a maiores nihil, nulla magnam porro minima officiis!</p>
					</div>
				</div>
				<div class="col-md-6 col-md-push-1 ">
					<aside id="fh5co-slider-wrwap">
					<div class="flexslider">
						<ul class="slides">
							<li style="background-image: url(static/images/gallery_7.jpeg);">
								<div class="overlay-gradient"></div>
								<div class="container-fluid">
									<div class="row">
										<div class="col-md-12 col-md-offset-0 col-md-pull-10 slider-text slider-text-bg">
											<div class="slider-text-inner">
												<div class="desc">
													<h2>Crab <em>with</em> Curry Sources</h2>
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt eveniet quae, numquam magnam doloribus eligendi ratione rem, consequatur quos natus voluptates est totam magni! Nobis a temporibus, ipsum repudiandae dolorum.</p>
													<p><a href="#" class="btn btn-primary btn-outline">Learn More</a></p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li style="background-image: url(static/images/gallery_6.jpeg);">
								<div class="overlay-gradient"></div>
								<div class="container-fluid">
									<div class="row">
										<div class="col-md-12 col-md-offset-0 col-md-pull-10 slider-text slider-text-bg">
											<div class="slider-text-inner">
												<div class="desc">
													<h2>Tuna <em>&amp;</em> Roast Beef</h2>
													<p>Ink is a free html5 bootstrap and a multi-purpose template perfect for any type of websites. A combination of a minimal and modern design template. The features are big slider on homepage, smooth animation, product listing and many more</p>
													<p><a href="#" class="btn btn-primary btn-outline">Learn More</a></p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li style="background-image: url(static/images/gallery_5.jpeg);">
								<div class="overlay-gradient"></div>
								<div class="container-fluid">
									<div class="row">
										<div class="col-md-12 col-md-offset-0 col-md-pull-10 slider-text slider-text-bg">
											<div class="slider-text-inner">
												<div class="desc">
													<h2>Egg <em>with</em> Mushroom</h2>
													<p>Ink is a free html5 bootstrap and a multi-purpose template perfect for any type of websites. A combination of a minimal and modern design template. The features are big slider on homepage, smooth animation, product listing and many more</p>
													<p><a href="#" class="btn btn-primary btn-outline">Learn More</a></p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
							</ul>
						</div>
				</aside>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-blog" class="fh5co-section">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<h2>Evenements</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, consequatur. Aliquam quaerat pariatur repellendus veniam nemo, saepe, culpa eius aspernatur cumque suscipit quae nobis illo tempora. Eum veniam necessitatibus, blanditiis facilis quidem dolore! Dolorem, molestiae.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="fh5co-blog animate-box">
						<a href="#" class="blog-bg" style="background-image: url(static/images/jeux.jpg);"></a>
						<div class="blog-text">
							<p>Tout les mercredi soir<p>
							<h3><a href="#">Soirée Jeux</a></h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							<ul class="stuff">
								<li><i class="icon-heart2"></i>1.2K</li>
								<li><i class="icon-eye2"></i>2K</li>
								<li><a href="#">Read More<i class="icon-arrow-right22"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="fh5co-blog animate-box">
						<a href="#" class="blog-bg" style="background-image: url(static/images/afterwork.jpg);"></a>
						<div class="blog-text">
							<p>17H30-20H30<p>
							<h3><a href="#">After work</a></h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							<ul class="stuff">
								<li><i class="icon-heart2"></i>1.2K</li>
								<li><i class="icon-eye2"></i>2K</li>
								<li><a href="#">Read More<i class="icon-arrow-right22"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="fh5co-blog animate-box">
						<a href="#" class="blog-bg" style="background-image: url(static/images/dej.jpg);"></a>
						<div class="blog-text">
							<p>Jeudi & vendredi matin</p>
							<h3><a href="#">Brunch</a></h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							<ul class="stuff">
								<li><i class="icon-heart2"></i>1.2K</li>
								<li><i class="icon-eye2"></i>2K</li>
								<li><a href="#">Reserver<i class="icon-arrow-right22"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-featured-menu" class="fh5co-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 fh5co-heading animate-box">
					<h2>Les cours (Informatique)</h2>
					<div class="row">
						<div class="col-md-6">
							<p>Nous proposons différent type de cours: Individuel, en groupe (hebdomadaire) et même des formations professionnalisantes. Consulter la rubrique 'les cours' pour plus de détails .</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>





	<div id="fh5co-started" class="fh5co-section animate-box" style="background-image: url(static/images/hero_1.jpeg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Co-Worker au Skiff</h2>
					<p>Adhésion mensuelle, unique ou par abonnement</p>

					<div id="fh5co-featured-menu" style ="padding-top:0px" class="fh5co-section">
						<div class="container">
							<div class="row">
										<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-wrap animate-box">
											<div class="fh5co-item">
												<h3>A la journée</h3>
												<span class="fh5co-price">12 € </span>
												<p>De l'ouverture à la fermeture</p>
											</div>
										</div>

										<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-wrap animate-box">
											<div class="fh5co-item">
												<h3>Au mois</h3>
												<span class="fh5co-price">95 €</span>
												<p>Pass 1 mois illimité</p>
											</div>
										</div>

										<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-wrap animate-box">
											<div class="fh5co-item">
												<h3>A l'année</h3>
												<span class="fh5co-price">840 € </span>
												<p>Accès tout l'année à la salle de coworking</p>
											</div>
										</div>

								</div>
							</div>
						</div>




					<p><a href="reservation.html" class="btn btn-primary btn-outline">Contactez nous</a></p>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-featured-testimony" class="fh5co-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 fh5co-heading animate-box">
					<h2>Témoignage</h2>
					<div class="row">
						<div class="col-md-6">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ab debitis sit itaque totam, a maiores nihil, nulla magnam porro minima officiis! Doloribus aliquam voluptates corporis et tempora consequuntur ipsam, itaque, nesciunt similique commodi omnis.</p>
						</div>
					</div>
				</div>

				<div class="col-md-5 animate-box img-to-responsive animate-box" data-animate-effect="fadeInLeft">
						<img src="{{ url_for('static', filename= 'images/person_1.jpg') }}" alt="">
				</div>
				<div class="col-md-7 animate-box" data-animate-effect="fadeInRight">
					<blockquote>
						<p> &ldquo; Quantum ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ab debitis sit itaque totam, a maiores nihil, nulla magnam porro minima officiis! Doloribus aliquam voluptates corporis et tempora consequuntur ipsam. &rdquo;</p>
						<p class="author"><cite>&mdash; Jane Smith</cite></p>
					</blockquote>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}
