{% extends "mainweb/layout.html" %}
{%block content %}


	<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner" style="background-image: url(static/images/biolocal.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="display-t js-fullheight">
						<div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
							<h1>Réservez les produits!</h1>
							<h2>Des agriculteurs partenaires</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-featured-menu" class="fh5co-section">
		<div class="container">
			<div class="row">
				<div class="section-heading">
					<h2>Liste des produits</h2>
				</div>
				<iframe src="https://www.lecomptoirdici.fr/tous-les-produits/"  height="1000" width="800" style="border:none;" ></iframe>
				<div id="fh5co-featured-menu" style ="padding-top:0px" class="fh5co-section">
					<div class="container">
						<div class="row">
						{% for prod in produits%}
									<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-wrap animate-box">
										<div class="fh5co-item">
											<img src="static/images/products/{{prod.image_file}}" class="img-responsive">
											<h3>{{prod.name}}</h3>
											<span class="fh5co-price">{{prod.price_sell}} € </span>
											<p>{{prod.description}}  </p>
										</div>
									</div>
					    {%endfor%}
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

{% endblock content %}
